#title{
  color: blue;
  font-family: 'Helvetica', sans-serif;
  letter-spacing: -2px;
  text-align: center;
  background: white;
}

#content{
  text-align: center;
}

#button {
  margin-left: 250px;
  margin-top: 30px;
}

.new_content{
  text-align: center;
}

#table{
  margin-top:60px;
  border: 2px solid grey;
  width : 100%;
  text-align: center;
}

.hide-me{
  opacity: 0;
  visibility: hidden;
}
